service/src/test/resources/db-schema/database.dtd

<!ELEMENT dataset (
   (DBMAINTAIN_SCRIPTS|
    CLIENT|
    SALE|
    DART|
    PROMO|
    PRICELIST|
    PRE_POS|
    ACCOUNT_MANAGER)*)>

<!ELEMENT DBMAINTAIN_SCRIPTS EMPTY>
<!ATTLIST DBMAINTAIN_SCRIPTS
    FILE_NAME CDATA #IMPLIED
    VERSION CDATA #IMPLIED
    FILE_LAST_MODIFIED_AT CDATA #IMPLIED
    CHECKSUM CDATA #IMPLIED
    EXECUTED_AT CDATA #IMPLIED
    SUCCEEDED CDATA #IMPLIED
>

<!ELEMENT CLIENT EMPTY>
<!ATTLIST CLIENT
    ID CDATA #IMPLIED
    CLIENT_NUMBER CDATA #IMPLIED
    NAME CDATA #IMPLIED
    CITY CDATA #IMPLIED
    ADDRESS CDATA #IMPLIED
>

<!ELEMENT SALE EMPTY>
<!ATTLIST SALE
    ID CDATA #IMPLIED
    SHIPPED_DATE CDATA #IMPLIED
    SHIPPED_BILL_NUMBER CDATA #IMPLIED
    CLIENT_NAME CDATA #IMPLIED
    CLIENT_NUMBER CDATA #IMPLIED
    CLIENT_ZIP CDATA #IMPLIED
    PART_NUMBER CDATA #IMPLIED
    QUANTITY CDATA #IMPLIED
    SERIALS CDATA #IMPLIED
    PRICE CDATA #IMPLIED
    CISCO_TYPE CDATA #IMPLIED
    COMMENT CDATA #IMPLIED
    STATUS CDATA #IMPLIED
>

<!ELEMENT DART EMPTY>
<!ATTLIST DART
    ID CDATA #IMPLIED
    AUTHORIZATION_NUMBER CDATA #IMPLIED
    VERSION CDATA #IMPLIED
    DISTRIBUTOR_INFO CDATA #IMPLIED
    START_DATE CDATA #IMPLIED
    END_DATE CDATA #IMPLIED
    DISTI_DISCOUNT CDATA #IMPLIED
    RESELLER_NAME CDATA #IMPLIED
    RESELLER_COUNTRY CDATA #IMPLIED
    RESELLER_ACCT CDATA #IMPLIED
    END_USER_NAME CDATA #IMPLIED
    END_USER_COUNTRY CDATA #IMPLIED
    QUANTITY CDATA #IMPLIED
    QUANTITY_INITIAL CDATA #IMPLIED
    CISCO_SKU CDATA #IMPLIED
    DISTI_SKU CDATA #IMPLIED
    LIST_PRICE CDATA #IMPLIED
    CLAIM_UNIT CDATA #IMPLIED
    EXT_CREDIT_AMT CDATA #IMPLIED
    FAST_TRACK_PIE CDATA #IMPLIED
    IP_NGN_PARTNER_PRICING_EM CDATA #IMPLIED
    MDM_FULFILLMENT CDATA #IMPLIED
>

<!ELEMENT PROMO EMPTY>
<!ATTLIST PROMO
    ID CDATA #IMPLIED
    PART_NUMBER CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    DISCOUNT CDATA #IMPLIED
    NAME CDATA #IMPLIED
    GPL CDATA #IMPLIED
    CODE CDATA #IMPLIED
    CLAIM_PER_UNIT CDATA #IMPLIED
    VERSION CDATA #IMPLIED
    END_DATE CDATA #IMPLIED
>

<!ELEMENT PRICELIST EMPTY>
<!ATTLIST PRICELIST
    ID CDATA #IMPLIED
    PART_NUMBER CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    GPL CDATA #IMPLIED
    WPL CDATA #IMPLIED
    DISCOUNT CDATA #IMPLIED
>

<!ELEMENT PRE_POS EMPTY>
<!ATTLIST PRE_POS
    ID CDATA #IMPLIED
    TYPE CDATA #IMPLIED
    PARTNER_NAME CDATA #IMPLIED
    PART_NUMBER CDATA #IMPLIED
    POS_SUM CDATA #IMPLIED
    QUANTITY CDATA #IMPLIED
    DELTA CDATA #IMPLIED
    SALE_DISCOUNT CDATA #IMPLIED
    BUY_DISCOUNT CDATA #IMPLIED
    SALE_PRICE CDATA #IMPLIED
    BUY_PRICE CDATA #IMPLIED
    PROMO1 CDATA #IMPLIED
    PROMO2 CDATA #IMPLIED
    END_USER CDATA #IMPLIED
    CLIENT_NUMBER CDATA #IMPLIED
    SHIPPED_DATE CDATA #IMPLIED
    SHIPPED_BILL_NUMBER CDATA #IMPLIED
    COMMENT CDATA #IMPLIED
    SERIALS CDATA #IMPLIED
    ZIP CDATA #IMPLIED
    ACCOUNT_MANAGER_NAME CDATA #IMPLIED
    STATUS CDATA #IMPLIED
>

<!ELEMENT ACCOUNT_MANAGER EMPTY>
<!ATTLIST ACCOUNT_MANAGER
    ID CDATA #IMPLIED
    NAME CDATA #IMPLIED
    JSON_PARTNERS CDATA #IMPLIED
    JSON_END_USERS CDATA #IMPLIED
>

